@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #44475B;
  --primary: #00B386;
  --primary-dark: #009970;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-text-dark: #44475B;
  --color-text-light: #7C7E8C;
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}
